<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config.xml,/WEB-INF/faces-config-ext.xml
		</param-value>
	</context-param>
	<!-- Define the basename for a resource bundle for I18N -->
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>ApplicationResources</param-value>
	</context-param>
	<!-- Fallback locale if no bundles found for browser's preferred locale -->
	<!-- Force a single locale using param-name 'javax.servlet.jsp.jstl.fmt.locale' -->
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.fallbackLocale
		</param-name>
		<param-value>en</param-value>
	</context-param>
	<!-- Context Configuration locations for Spring XML files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/applicationContext-*.xml
			/WEB-INF/applicationContext-*.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
		<description>
			State saving method: "client" or "server" (= default) See
			JSF Specification 2.5.2
		</description>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
		<description>
			This parameter tells MyFaces if javascript code should be
			allowed in the rendered HTML output. If javascript is
			allowed, command_link anchors will have javascript code that
			submits the corresponding form. If javascript is not
			allowed, the state saving info and nested parameters will be
			added as url parameters. Default: "true"
		</description>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
		<description>
			If true, rendered HTML code will be formatted, so that it is
			"human readable". i.e. additional line separators and
			whitespace will be written, that do not influence the HTML
			code. Default: "true"
		</description>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
		<description>
			If true, a javascript function will be rendered that is able
			to restore the former vertical scroll on every request.
			Convenient feature if you have pages with long lists and you
			do not want the browser page to always jump to the top if
			you trigger a link or button action that stays on the same
			page. Default: "false"
		</description>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>BeGenFilter</filter-name>
		<filter-class>
			cn.com.brilliance.begen.webapp.servlet.BeGenFilter
		</filter-class>
	</filter>
	<!-- Extensions Filter -->
	<filter>
		<filter-name>extensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.component.html.util.ExtensionsFilter
		</filter-class>
		<init-param>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>100m</param-value>
			<description>
				Set the size limit for uploaded files. Format: 10 - 10
				bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
			</description>
		</init-param>
		<init-param>
			<param-name>uploadThresholdSize</param-name>
			<param-value>100k</param-value>
			<description>
				Set the threshold size - files below this limit are
				stored in memory, files above this limit are stored on
				disk.

				Format: 10 - 10 bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
			</description>
		</init-param>
	</filter>
	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/PortalServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/PermissionWorkflowServlet</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/MessageServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/FileDownloadServlet</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BeGenFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BeGenFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BeGenFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BeGenFilter</filter-name>
		<url-pattern>/PortalServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BeGenFilter</filter-name>
		<url-pattern>/PermissionWorkflowServlet</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>BeGenFilter</filter-name>
		<url-pattern>/MessageServlet</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			cn.com.brilliance.begen.webapp.listener.ContextLoaderListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.LoginServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.LogoutServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PortalServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.PortalServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.FileDownloadServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageViewServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.ImageViewServlet
		</servlet-class>
	</servlet>		
	<servlet>
		<servlet-name>PermissionWorkflowServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.PermissionWorkflowServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.webapp.servlet.MessageServlet
		</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>BarcodeServlet</servlet-name>
		<servlet-class>
			org.krysalis.barcode4j.servlet.BarcodeServlet
		</servlet-class>
	</servlet>	
	<!-- report export -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>
			net.sf.jasperreports.j2ee.servlets.ImageServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XlsServlet</servlet-name>
		<servlet-class>
			net.sf.jasperreports.j2ee.servlets.XlsServlet
		</servlet-class>
	</servlet>
	<!-- end report export -->

	<!-- riskControl begin -->
	<servlet>
		<servlet-name>RightControlServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.ext.webapp.servlet.RightControlServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OrgControlServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.ext.webapp.servlet.OrgControlServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RoleControlServlet</servlet-name>
		<servlet-class>
			cn.com.brilliance.begen.ext.webapp.servlet.RoleControlServlet
		</servlet-class>
	</servlet>
			
  <servlet>
    <servlet-name>RecordModelDownServlet</servlet-name>
    <servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.RecordModelDownServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintViewServlet</servlet-name>
    <servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.PrintViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RiskcaseFileDownServlet</servlet-name>
    <servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.RiskcaseFileDownServlet</servlet-class>
  </servlet>
  
  	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.ReportServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>VariousIndustriesReportServlet</servlet-name>
		<servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.VariousIndustriesReportServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>VariousChannelsReportServlet</servlet-name>
		<servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.VariousChannelsReportServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>VariousBranchesReportServlet</servlet-name>
		<servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.VariousBranchesReportServlet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>VariousTimeReportServlet</servlet-name>
		<servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.VariousTimeReportServlet</servlet-class>
	</servlet>	
	
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DateMgrServlet</servlet-name>
    <servlet-class>cn.com.brilliance.risk.ext.webapp.servlet.DateMgrServlet</servlet-class>
  </servlet>





	<servlet-mapping>
		<servlet-name>RightControlServlet</servlet-name>
		<url-pattern>/RightControlServlet</url-pattern>
	</servlet-mapping>		
	
	<servlet-mapping>
		<servlet-name>OrgControlServlet</servlet-name>
		<url-pattern>/OrgControlServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RoleControlServlet</servlet-name>
		<url-pattern>/RoleControlServlet</url-pattern>
	</servlet-mapping>
			
	<!-- riskControl end -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortalServlet</servlet-name>
		<url-pattern>/PortalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/FileDownloadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageViewServlet</servlet-name>
		<url-pattern>/ImageViewServlet</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/barcode</url-pattern>
	</servlet-mapping>		
	<!-- report export -->
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/servlets/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/servlets/xls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermissionWorkflowServlet</servlet-name>
		<url-pattern>/PermissionWorkflowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/MessageServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecordModelDownServlet</servlet-name>
    <url-pattern>/RecordModelDownServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintViewServlet</servlet-name>
    <url-pattern>/PrintViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RiskcaseFileDownServlet</servlet-name>
    <url-pattern>/RiskcaseFileDownServlet</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DateMgrServlet</servlet-name>
    <url-pattern>/DateMgrServlet</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
  	<servlet-name>VariousIndustriesReportServlet</servlet-name>
  	<url-pattern>/VariousIndustriesReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VariousChannelsReportServlet</servlet-name>
  	<url-pattern>/VariousChannelsReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VariousBranchesReportServlet</servlet-name>
  	<url-pattern>/VariousBranchesReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VariousTimeReportServlet</servlet-name>
  	<url-pattern>/VariousTimeReportServlet</url-pattern>
  </servlet-mapping>
	<!-- end report export -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>

